.doctor{
	display: flex;
	padding-top: 30rpx;
}
.doctor view{
  margin-left: 32.5rpx;
}
.doctor view image{
	 width: 330rpx;
	 height: 120rpx;
}
.Pet_circle{
 display: flex;
 padding-top: 20rpx;
 padding-left: 30rpx;
}
.Pet_circle .pet{
  color:rgba(51,51,51,1);
  font-family: PingFangSC-Semibold,PingFang SC;
  font-weight: bold;
  font-size: 36rpx;   
}
.more{ 
	margin-left: auto;
	margin-right: 30rpx;
}
.more text{
 font-size: 24rpx;
 color: #333333;
 font-family: PingFangSC-Semibold,PingFang SC;
 font-weight: bold;
 display: inline-block;
 vertical-align: middle;
 padding-right: 5rpx;
}
.more image{
	width: 9rpx;
	height: 16rpx;
	display: inline-block;
	vertical-align: middle;
}
.autoply_circle{
	padding-left: 25rpx;
	padding-top: 20rpx;
}
.circlewidth{
 width: 340rpx;
 height: 400rpx;
 border-radius: 9rpx;
 position: relative;
 display: inline-block;
 margin-right: 21rpx;
}


.circlewidth image{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	width: 60rpx;
	height: 60rpx;
}
