body,
button,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
legend,
li,
ol,
p,
td,
textarea,
th,
ul {
	margin: 0;
	padding: 0
}

body,
button,
input,
select,
textarea {
	font-family: Arial, "Hiragino Sans GB", sans-serif
}

html {
	-webkit-text-size-adjust: none
}

.yahei {
	font-family: Arial, "Hiragino Sans GB", sans-serif
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: normal;
	line-height: 1.6;
	font-family: Arial, "Hiragino Sans GB", sans-serif
}

.h1,
h1 {
	font-size: 48upx;
}

.h2,
h2 {
	font-size: 40upx
}

.h3,
h3 {
	font-size: 36upx
}

.h4,
h4 {
	font-size: 32upx
}

.h5,
h5 {
	font-size: 28upx
}

.h6,
h6 {
	font-size: 24upx
}

small {
	font-size: 20upx
}

em,
i {
	font-style: normal;
	font-weight: normal
}

ol,
ul {
	list-style: none
}

a,
a:focus,
a:hover,
a:link,
a:visited {
	text-underline: none;
	text-decoration: none;
	outline-style: none
}

fieldset,
img {
	border: none
}

input {
	-webkit-appearance: none;
}

button {
	cursor: pointer
}

button,
input,
select,
textarea {
	font-size: 100%
}

button:focus,
input:focus,
select:focus,
textarea:focus {
	outline: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

hr {
	border: none;
	height: 1px
}

label {
	font-size: 0.8rem
}

.a_cover,
.img_b {
	width: 100%;
	height: 100%;
	display: block
}

.clear-both {
	clear: both
}

.clear:after {
	content: "";
	display: block;
	clear: both;
	height: 0
}

.pull_left {
	float: left
}

.pull_right {
	float: right
}

.ulchild_left>* {
	float: left
}

.ulchild_left:after {
	content: "";
	display: block;
	clear: both;
	height: 0
}

.con_ab {
	position: relative;
}

.con_ab:before,
.con_ab:after {
	content: "";
	display: block;
	position: absolute;
}

.poa {
	position: absolute
}

.por {
	position: relative
}

.pof {
	position: fixed
}

.text_indent {
	text-indent: 2em
}

.text_ap {
	text-transform: capitalize
}

.text_up {
	text-transform: uppercase
}

.text_low {
	text-transform: lowercase
}

.text_inh {
	text-transform: inherit
}

.text_center {
	text-align: center
}

.text_left {
	text-align: left
}

.text_right {
	text-align: right
}

.bg_n {
	background: no-repeat
}

.bg_ncc {
	background: no-repeat center center
}

.bg_ncb {
	background: no-repeat center bottom
}

.bg_nccc {
	background: no-repeat center center;
	background-size: cover
}

.bg_ncci {
	background: no-repeat center center;
	background-size: contain
}

.bg_ncc100 {
	background: no-repeat center center;
	background-size: 100% 100%
}

.tra_03 {
	transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in
}

.tra_05 {
	transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in
}

.tra_1 {
	transition: all 1s ease-in;
	-webkit-transition: all 1s ease-in
}

.border_box {
	box-sizing: border-box;
	-webkit-box-sizing: border-box
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box
}

.rightModle {
	position: absolute;
	right: 0;
	top: 0
}

.overHide {
	overflow: hidden
}

.ellipsis {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis
}

.ellipsis-2 {
	display: -webkit-box;
	overflow: hidden;
	white-space: normal !important;
	text-overflow: ellipsis;
	word-wrap: break-word;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical
}

.disB {
	display: block
}

.disI {
	display: inline
}

.disIB {
	display: inline-block
}

.disN {
	display: none
}

.cursorP {
	cursor: pointer
}

.cursorD {
	cursor: default
}

.user_select {
	-moz-user-select: none;
	-ms-user-select: none;
	-ktml-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none
}

.img_tra {
	overflow: hidden
}

.img_tra img {
	transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in
}

.img_tra img:hover {
	transform: scale(1.05);
	-webkit-transform: scale(1.05)
}

.img_mid {
	display: table;
	text-align: center
}

.img_mid>* {
	vertical-align: middle;
	display: table-cell;
	line-height: 0
}

.col_1 {
	width: 100%;
	float: left
}

.col_2 {
	width: 50%;
	float: left
}

.col_3 {
	width: 33.33333333%;
	float: left
}

.col_4 {
	width: 25%;
	float: left
}

.col_5 {
	width: 20%;
	float: left
}

.col_6 {
	width: 16.66666667%;
	float: left
}

.col_66 {
	width: 66.66666667%;
	float: left
}

.col_75 {
	width: 75%;
	float: left
}

.col_80 {
	width: 80%;
	float: left
}

.col_83 {
	width: 83.33333333%;
	float: left
}



.borderA {
	border: 1px solid #e3e3e3
}

.borderL {
	border-left: 1px solid #e3e3e3
}

.borderR {
	border-right: 1px solid #e3e3e3
}

.borderLR {
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3
}

.borderT {
	border-top: 1px solid #e3e3e3
}

.borderB {
	border-bottom: 1px solid #e3e3e3
}

.borderTB {
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3
}

.bg_f {
	background-color: #fff
}

.bg_0 {
	background-color: #000
}

.color_0 {
	color: #000
}

.color_f {
	color: #fff
}

.color_3 {
	color: #333
}

.color_6 {
	color: #666
}

.color_9 {
	color: #999
}

.color_7 {
	color: #777
}

.color_8 {
	color: #888
}

.color_c {
	color: #ccc
}

.color_b {
	color: #bbb
}

._Con img {
	max-width: 100%;
}


.content_ {
	max-width: 750upx;
	margin-left: auto;
	margin-right: auto;
}

.content_,
.page_ {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.content_ {
	overflow: hidden;
}

[v-cloak] {
	display: none;
}

.page_ {
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll;
	background: #fff;
	margin-right: -20upx;
	padding-right: 20upx;
}

.page_inner {
	height: calc(100% + 1px)
}

.color_them {
	color: #FE5B48;
}

.img_class{max-width: 100%;display: block;margin: 0 auto;}